<form onsubmit="return false;" id="gender-form">
    <h2>Gender</h2>
    
    {{#form_gender_select}}
        <select name="{{name}}" id="{{id}}">
            {{#options}}
                <option value="{{value}}">{{html}}</option>
            {{/options}}
        </select>
    {{/form_gender_select}}
    
    <h2>Are you earnest about this?</h2>
    {{#form_earnest}}
        <input type="{{type}}" id="{{id}}" name="{{name}}" value="{{value}} " {{#required}}required{{/required}}>
        <label for="{{id}}">{{label}}</label>
        
        <div id="additional-question">
            <h3>What makes you so earnest?</h3>
            <textarea id="earnest-reason" name="earnest-reason" rows="4" cols="50"></textarea>
        </div>
    {{/form_earnest}}

    
    <button>Submit</button>
</form>

    <script>
        document.getElementById('form_earnest').addEventListener('change', function(e) {
            if (e.target.name === 'earnest') {
                document.getElementById('additional-question').style.display = 
                    e.target.value === 'true' ? 'block' : 'none';
            }
        });
    </script>
